/* Section 1: Laravel inbuilt CSS changes */
html, body {
	background-color: #fff;
	color: #636b6f;
	font-family: 'Teko' !important;
	font-weight: 200;
	height: 100vh;
	margin: 0;
}
/* Section 1: Ends here */

/* Section 2: Navigation bar */
.navbar {
	background: #218904 !important;
	font-size: 25px;
	padding-right: 20px;
}
.navbar-dark .navbar-toggler {
	border: 0px solid black !important;
}
.navbar-brand {
	font-family: 'Brush Script MT', cursive;
	color: #FFF !important;
	font-size: 33px !important;
	font-weight: bolder;
}
.navbar-img {
	width: 100px;
}
.nav-item {
	color: #FFF !important;
}
/* Section 2: Ends here */

/* Section 3: Carousel */
#carouselExampleControls img {
	opacity: 0.9;
}
.carousel-title {
	text-shadow: 3px 3px #000000;
}

.carousel-control-prev-icon{
	background: #f00 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 50%;
	height: 30px;
	margin: 3px;
	opacity: 0.5;
	width: 30px;
}

.carousel-indicators li {
	width: 100px !important;
	height: 10px !important;
}
/* Section 3: Ends here */

/*Section 4: Categories */
.rounded-circle {
	width: 280px !important;
	height: 200px !important;
	margin-left: auto;
	box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 1);
	margin-right: auto;
	display: block;
	opacity:0.9;
}
.rounded-circle:hover {
	transform: rotateY(180deg);
	opacity: 0.7;
	transition: 0.8s;
	transform-style: preserve-3d;
}
.card {
	text-align: center!important;
	border: none !important;
	background: transparent !important;
}
.categoryContent {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
/* Section 3: Ends here */

/* Section : Media Queries */
@media only screen and (max-width: 400px) {
	#carouselExampleControls img {
		width: auto;
		height: 225px;
		max-height: 225px;
	}
	.carousel-title{
		font-size: 14px;
	}
}

@media (min-width: 401px) and (max-width: 575px) {
	#carouselExampleControls img {
		width: auto;
		height: 300px;
		max-height: 300px;
	}
	.carousel-title{
		font-size: 20px;
	}
	.stats-details {
		height:250px !important;
		max-height: 250px !important;
	}
	.stats-details h3{
		font-size: 2.5vw !important;
	}
	.stats-details img {
		margin-left: 0;
		height:250px !important;
		max-height: 250px !important;
	}
	.header-content{
		font-size: 17px;
	}
	.li-content {
		font-size: 2vw !important;
		margin-right: 50px;
		/* margin-left: 50px; */
		margin-bottom: 10px;
		text-align: justify;
	}
	.location-fetch {
		    margin-top: 1.5%;
    		width: 200px;
    		height: 50px;
	}
}

@media (min-width: 576px) and (max-width: 800px) {
	#carouselExampleControls img {
		width: auto;
		height: 400px ;
		max-height: 400px ;
	}
	.carousel-title{
		font-size: 25px;
	}
	.rounded-circle {
		width: 170px !important;
		height: 160px !important;
	}
	.stats-details {
		height:250px !important;
		max-height: 250px !important;
	}
	.stats-details h3{
		font-size: 16px;
	}
	.stats-details img {
		margin-left: 0;
		height:250px !important;
		max-height: 250px !important;
	}
}

@media (min-width: 801px) and (max-width: 1000px) {
	#carouselExampleControls img {
		width: auto ;
		height: 500px ;
		max-height: 500px ;
	}
	.carousel-title{
		font-size: 30px;
	}
	.rounded-circle {
		width: 170px !important;
		height: 160px !important;
	}
	.stats-details {
		height:250px !important;
		max-height: 250px !important;
	}
	.stats-details h3{
		font-size: 16px;
	}
	.stats-details img {
		margin-left: 0;
		height:250px !important;
		max-height: 250px !important;
	}
}

@media (min-width: 1001px) and (max-width: 1900px) {
	#carouselExampleControls img {
		width: auto ;
		height: 500px ;
		max-height: 500px ;
	}
	.carousel-title{
		font-size: 35px;
	}
	.rounded-circle {
		width: 220px !important;
		height: 200px !important;
	}
}
/* Section : Ends here */

#map {
	display: table;
	width: 100%;
	height: 300px;
}

.stats {
	text-align: center;
	font-size: 50px;
	margin-top: 20px;
}

.stats-details {
	padding-left: 20px;
	display: inline-flex;
	height:250px;
	max-height: 300px;
	width: 100%;
	float: left;
	background-color: #63A362;
}

.stats-details-right {
	padding-left: 20px;
	display: inline-flex;
	height:250px;
	max-height: 300px;
	width: 100%;
	background: transparent;
	float: right;
}

.stats-details img {
	margin-left: 15%;
	height:250px;
	max-height: 250px;
}

#counter {
	display: flex;
	text-align: center;
}

.counter-value {
	border: 3px solid #064005;
	border-radius: 50%;
	width: 200px;
	padding: 30px;
	text-align: center;
	display: inline-block;
	margin: 30px;
}
.btn-content {
	display: block;
}
.btn-content a, .btn-content a:after {
	color: #fff;
	text-decoration: none;
}
.btn-content a:hover {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

.location-fetch {
		    margin-top: 1.5%;
    		width: 200px;
    		height: 50px;
	}